.tittles{
    -fx-fill: #000000;
    -fx-font-size: 30px;
    -fx-font-family: "Lemonada";
    -fx-font-style: normal;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-tile-alignment: center;
    -fx-page-information-alignment: center;
}
.redTittles{
    -fx-fill: #ff0000;
    -fx-font-size: 30px;
    -fx-font-family: "Lemonada";
    -fx-font-style: normal;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-alignment: center;
}
.stock{
    -fx-fill: #ff00ef;
    -fx-font-size: 20px;
    -fx-font-family: "Lemonada";
    -fx-font-style: normal;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-alignment: center;
}
.stockSubtitles{
    -fx-fill: #000000;
    -fx-font-size: 20px;
    -fx-font-family: "Lemonada";
    -fx-font-style: normal;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.littleContainer{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #ff0d00;
    -fx-background-color: #ffffff;
}

.textEntry{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #ff00ef;
    -fx-background-color: #ffffff;
    -fx-font-size: 13px;
    -fx-font-family: "Lemonada";
    -fx-font-style: normal;
}