.background {
    -fx-background-color: #ffffff;
    -fx-max-width: 1280px;
    -fx-max-height: 640px;
    -fx-min-width: 1280px;
    -fx-min-height: 640px;
    -fx-pref-width: 1280px;
    -fx-pref-height: 640px;
}

.vbox {
    -fx-background-radius: 30px;
    -fx-border-color: #ff00ef;
    -fx-border-radius: 30px;
    -fx-background-color: #ffffff;
    -fx-max-width: 720px;
    -fx-max-height: 525px;
    -fx-min-width: 720px;
    -fx-min-height: 525px;
    -fx-pref-width: 720px;
    -fx-pref-height: 525px;
}

.tittle {
    -fx-fill: #000000;
    -fx-font-size: 64px;
    -fx-font-family: "Lemonada";
    -fx-font-style: normal;
}

.subtitles{
    -fx-fill: #000000;
    -fx-font-size: 16px;
    -fx-font-family: "Lemonada";
    -fx-font-style: normal;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.whiteContainer{
    -fx-background-radius: 30px;
    -fx-border-color: #ff00ef;
    -fx-border-radius: 30px;
    -fx-background-color: #ffffff;
    -fx-max-width: 500px;
    -fx-max-height: 620px;
    -fx-min-width: 500px;
    -fx-min-height: 620px;
    -fx-pref-width: 500px;
    -fx-pref-height: 620px;
}

.textField{
    -fx-background-radius: 20px;
    -fx-background-color: #FFF;
    -fx-border-color: #00D1FF;
    -fx-border-radius: 20px;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-font-size: 13px;
    -fx-font-family: "Lemonada";
}

.button{
    -fx-background-radius: 40px;
    -fx-max-width: 65px;
    -fx-max-height: 50px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: #ff00ef;
    -fx-border-color: #ff00ef;
    -fx-border-radius: 20px;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-font-size: 13px;
    -fx-font-family: "Lemonada";
}

.search {
    -fx-border-color: #ff00ef;
    -fx-border-width: 2px;
    -fx-max-width: 720px;
    -fx-max-height: 50px;
    -fx-min-width: 720px;
    -fx-min-height: 50px;
    -fx-pref-width: 720px;
    -fx-pref-height: 50px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.product {
    -fx-border-color: #ff0000;
    -fx-border-width: 2px;
    -fx-max-width: 600px;
    -fx-max-height: 70px;
    -fx-min-width: 600px;
    -fx-min-height: 70px;
    -fx-pref-width: 600px;
    -fx-pref-height: 70px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
